# EditorConfig is awesome: https://editorconfig.org/

# top-most EditorConfig file
root = true

[*.js]
trim_trailing_whitespace = true
ij_javascript_use_double_quotes = true
ij_any_space_before_method_parentheses = false
ij_any_space_before_else_left_brace = true

# Windows-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true
max_line_length = 100
